  <h1> Project Runway</h1> 
  <% @products.each_slice(3) do |three_contacts| %>
  <div class="row">
  <% three_contacts.each do |product| %>
      <div class="col-md-4">
        <div class="well">
          
        <h2><%= product.name %></h2> 
        <p><%= product.price %></p>
        <p><%= product.image %></p>
        <p><%= product.description %></p>
        <img src="<%= asset_path 'concrete-texture.png' %>" alt "" >
          </div>
        </div>
      <% end %>
    </div>
  <% end %>



